body {
  background-color: #383838;
}

.profileBody {
  height: 100vh;
  background-color: #383838;
}
.imgProfile {
  opacity: 1;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}
.searchIcon {
  position: absolute;
  z-index: 0;
}
.imgProfile {
  z-index: 2;
}

.imgProfile:hover {
  opacity: 0.5;
  transition: 0s;
  z-index: 1;
}
