@media only screen and (max-width: 670px) {
  .btnOnlyIcon {
    min-width: 50px !important;
    min-height: 30px !important;
  }
  .iconBtn {
    margin-left: -8px !important;
    font-size: 25px !important;
  }
  .btnNameHide {
    display: none;
  }
}
.btnNameSize {
  font-size: 13px !important;
}
.footer {
  margin-top: 10px !important;
}
@media only screen and (min-height: 1000px) {
  .footer {
    margin-top: 40vh;
  }
}

.groupBtnStatus {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .groupBtnStatus {
    display: block;
    margin-top: 25px;
    text-align: right;
  }
  .btnStatus {
    margin-top: 5px !important;
  }
}

.border {
  border-radius: 3px 3px;
  box-shadow: 1px 1px 10px 1px #2b2b2b;
}
